.layout{
  padding: 30px 0px;
}
.flex-center{
  display: flex; justify-content: center;
}
.layout-content{
  background: #fff;
   padding: 24px; 
   width: 1100px;
  margin: 80px auto;
}
.max-width-300{
  width: 300px
}
.mr-16{
  margin-right: 16px;
}
.mb-16{
  margin-bottom: 16px;
}